In [1]:
import pandas as c

In [2]:
data=c.read_csv("Supermarketsales.csv")

In [3]:
data

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,3,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,5,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,997,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,998,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,999,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,1000,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [4]:
a=data.loc[1,"Unitprice"]

In [5]:
a

15.28

In [6]:
new_data=[]
for x in data.index:
    new_data.append(data.loc[x,"Unitprice"])
max(new_data)

99.96

In [7]:
new_data=[]
for x in data.index:
    new_data.append(data.loc[x,"Unitprice"])
min(new_data)

10.08

In [8]:
new_data=[]
for x in data.index:
    new_data.append(data.loc[x,"Unitprice"])
avg=sum(new_data)/len(new_data)
avg

55.67212999999998

In [9]:
new_data=[]
for x in data.index:
    new_data.append(data.loc[x,"Quantity"])
max(new_data)

10

In [10]:
new_data=[]
for x in data.index:
    new_data.append(data.loc[x,"Quantity"])
min(new_data)

1

In [11]:
new_data=[]
for x in data.index:
    new_data.append(data.loc[x,"Quantity"])
avg=sum(new_data)/len(new_data)
avg

5.51

In [12]:
new_data=[]
for x in data.index:
    if (data.loc[x,"Productline"])=="Health and beauty":
         new_data.append(data.loc[x,"Quantity"]) 
min(new_data)

1

In [13]:
new_data=[]
for x in data.index:
    if (data.loc[x,"Productline"])=="Health and beauty":
         new_data.append(data.loc[x,"Quantity"])
max(new_data)

10

In [14]:
new_data=[]
for x in data.index:
    if (data.loc[x,"Productline"])=="Health and beauty":
         new_data.append(data.loc[x,"Quantity"])
avg=sum(new_data)/len(new_data)
avg

5.618421052631579

In [15]:
new_data=[]
for x in data.index:
    if (data.loc[x,"Productline"])=="Health and beauty":
         new_data.append(data.loc[x,"Unitprice"])
max(new_data)

99.96

In [16]:
new_data=[]
for x in data.index:
    if (data.loc[x,"Productline"])=="Health and beauty":
         new_data.append(data.loc[x,"Unitprice"])
min(new_data)

10.08

In [17]:
new_data=[]
for x in data.index:
    if (data.loc[x,"Productline"])=="Health and beauty":
         new_data.append(data.loc[x,"Unitprice"])
avg=sum(new_data)/len(new_data)
avg

54.85447368421053

In [18]:
new_data=[]
for x in data.index:
    if (data.loc[x,"Productline"])=="Electronic accessories":
         new_data.append(data.loc[x,"Quantity"])
avg=sum(new_data)/len(new_data)
avg

5.711764705882353

In [19]:
new_data=[]
for x in data.index:
    if (data.loc[x,"Productline"])=="Electronic accessories":
         new_data.append(data.loc[x,"Quantity"])
min(new_data)

1

In [20]:
new_data=[]
for x in data.index:
    if (data.loc[x,"Productline"])=="Electronic accessories":
         new_data.append(data.loc[x,"Quantity"])
max(new_data)

10

In [21]:
new=[]
for x in data.index:
    if (data.loc[x,"Productline"])=="Health and beauty":
        if (data.loc[x,"Quantity"])==10:
            new.append(data.loc[x,"InvoiceID"])
print(new)

['829-34-3910', '877-22-3308', '766-85-7061', '280-17-4359', '338-65-2210', '875-46-5808', '157-13-5295', '585-03-5943', '400-45-1220', '725-56-0833', '244-08-0162', '628-90-8624', '188-55-0967', '648-94-3045', '689-05-1884', '607-65-2441', '450-42-3339']

In [22]:
new=[]
for x in data.index:
     if (data.loc[x,"Productline"])=="Health and beauty":
        if (data.loc[x,"Gender"])=="Male":
            new.append(data.loc[x,"InvoiceID"])
print(new)

['123-19-1176', '371-85-5789', '848-62-7243', '595-11-5460', '617-15-4209', '370-41-7321', '635-40-6220', '853-23-2453', '877-22-3308', '152-08-9985', '512-91-0811', '766-85-7061', '716-39-1409', '280-17-4359', '568-90-5112', '238-49-0436', '743-04-1105', '505-02-0892', '249-42-3782', '342-65-4817', '824-88-3614', '848-24-9445', '699-01-4164', '875-46-5808', '836-82-5858', '157-13-5295', '211-30-9270', '448-81-5016', '667-92-0055', '498-41-1961', '585-03-5943', '573-10-3877', '787-15-1757', '372-94-8041', '730-61-8757', '132-23-6451', '268-03-6164', '269-10-8440', '568-88-3448', '731-59-7531', '502-05-1910', '291-21-5991', '425-85-2085', '133-14-7229', '287-83-1405', '343-87-0864', '207-73-1363', '127-47-6963', '227-50-3718', '302-15-2162', '470-31-3286', '628-90-8624', '188-55-0967', '610-46-4100', '778-89-7974', '556-41-6224', '648-94-3045', '689-05-1884', '729-06-2010', '186-79-9562', '635-28-5728', '607-65-2441', '314-23-4520', '787-87-2010', '102-77-2261', '629-42-4133', '704-10-4056', '400-80-4065', '359-94-5395', '565-91-4567', '869-11-3082', '636-17-0325', '528-14-9470', '658-66-3967', '234-36-2483', '176-78-1170', '699-88-1972', '725-54-0677', '450-42-3339', '458-10-8612', '449-16-6770', '333-23-2632', '503-21-4385', '809-46-1866', '148-41-7930', '552-44-5977', '430-53-4718', '233-67-5758']

In [23]:
data.head()

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,3,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,5,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [24]:
new=[]
for x in data.index:
    if (data.loc[x,"Productline"])=="Health and beauty":
        if (data.loc[x,"Quantity"])==1:
            new.append(data.loc[x,"InvoiceID"])
print(new)

['382-03-4532', '512-91-0811', '573-10-3877', '622-20-1945', '885-17-6250', '268-03-6164', '186-09-3669', '390-80-5128', '296-11-7041', '568-88-3448', '343-87-0864', '359-94-5395', '559-61-5987', '528-14-9470', '233-67-5758']

In [25]:
new=[]
for x in data.index:
     if (data.loc[x,"Productline"])=="Fashion accessories":
        if (data.loc[x,"Gender"])=="Female":
            new.append(data.loc[x,"Quantity"])
len(new)

96

In [26]:
new=[]
for x in data.index:
     if (data.loc[x,"Productline"])=="Health and beauty":
        if (data.loc[x,"Gender"])=="Male":
            new.append(data.loc[x,"Quantity"])
len(new)

88

In [27]:
new=[]
for x in data.index:
     if (data.loc[x,"Productline"])=="Fashion accessories"or"Sports and travel":
        if (data.loc[x,"Gender"])=="Female":
            new.append(data.loc[x,"Quantity"])
len(new)

501

In [28]:
new=[]
for x in data.index:
    if(data.loc[x,"City"])=="Yangon":
        new.append(data.loc[x,"Tax"])
sum(new)

5057.160500000002