In [2]:
x=int(input("enter your salary"))
if x <= 250000:
    tax=0
if (x <= 500000) and (x>250000):
    tax=(x-250000)*5/100
if (x <= 750000) and (x>500000):
    tax=(x-500000)*10/100+12500
if (x <= 1000000) and (x>750000):
    tax=(x-750000)*15/100+37500
if (x<=1250000) and (x>1000000):
    tax=(x-1000000)*20/100+75000
if (x<=1500000) and (x>1250000):
    tax=(x-1250000)*25/100+125000
if (x>1500000):
    tax=(x-1500000)*30/100+187500
print(tax)

enter your salary 5000000

1237500.0

In [3]:
x=int(input("enter your salary"))
def aaron(a,b,c,d):
    tax=(a-b)*c/100+d
    return tax

if x <= 250000:
    tax=(0,0,0,0)
if (x <= 500000) and (x>250000):
    tax=aaron(x,250000,5,0)
if (x <= 750000) and (x>500000):
    tax=aaron(x,500000,10,12500)
if (x <= 1000000) and (x>750000):
    tax=aaron(x,750000,15,37500)
if (x<=1250000) and (x>1000000):
    tax=aaron(x,1000000,20,75000)
if (x<=1500000) and (x>1250000):
    tax=aaron(x,1250000,25,125000)
if (x>1500000):
    tax= tax=aaron(x,1500000,30,187500)
print(tax)

enter your salary 5000000

1237500.0

In [16]:
import pandas as c

In [59]:
x=c.read_excel("salary.xlsx")

In [60]:
x

    Salary  Age
0  1000000   40

In [20]:
a=x.loc[0,"Salary"]
if a <= 250000:
    tax=0
if (a <= 500000) and (a>250000):
    tax=(a-250000)*5/100
if (a <= 750000) and (a>500000):
    tax=(a-500000)*10/100+12500
if (a <= 1000000) and (a>750000):
    tax=(a-750000)*15/100+37500
if (a<=1250000) and (a>1000000):
    tax=(a-1000000)*20/100+75000
if (a<=1500000) and (a>1250000):
    tax=(a-1250000)*25/100+125000
if (a>1500000):
    tax=(a-1500000)*30/100+187500
print(tax)

0

In [26]:
a=x.loc[0,"Salary"]
if a <= 250000:
    tax=0
print(tax)

0

In [30]:
a=x.loc[1,"Salary"]
if a<=500000 and a>250000:
    tax=(a-250000)*(5/100)
print(tax)

0

In [66]:
x=c.read_excel("salary.xlsx")

In [67]:
x

   Salary  Age
0  600000   70

In [34]:
a=x.loc[0,"Age"]
b=x.loc[0,"Salary"]
if a<=60 and b>250000:
    tax=0
print(tax)

0

In [35]:
if a<=60 and b>250000 and b<=500000:
    tax=b*(10/100)
print(tax)

0

In [36]:
if a<=60 and b>500000 and b<=1000000:
    tax=b*(20/100)
print(tax)

0

In [37]:
if a<=60 and b>1000000:
    tax=b*(10/100)
print(tax)

0

In [38]:
if a<=60 and a<=80 and b<=300000:
    tax=0
print(tax)

0

In [40]:
if a>60 and a<=80 and b<=300000 and b<=500000:
    tax=b*(10/100)
print(tax)

10000.0

In [41]:
if a>60 and a<=80 and b<=500000 and b<=1000000:
    tax=b*(20/100)
print(tax)

10000.0

In [42]:
if a>60 and a<=80 and b<=1000000:
    tax=b*(30/100)
print(tax)

10000.0

In [43]:
if a>80 and b<=500000:
    tax=0
print(tax)

10000.0

In [45]:
if a>80 and b>500000 and b<=1000000:
    tax=b*(20/100)
print(tax)

10000.0

In [46]:
if a>80 and a<=100 and b>1000000:
    tax=b*(30/100)
print(tax)

10000.0

In [68]:
a=x.loc[0,"Age"]
b=x.loc[0,"Salary"]
if a<=60 and b>250000:
    tax=0
if a<=60 and b>250000 and b<=500000:
    tax=b*(10/100)
if a<=60 and b>500000 and b<=1000000:
    tax=b*(20/100)
if a<=60 and b>1000000:
    tax=b*(10/100)
if a<=60 and a<=80 and b<=300000:
    tax=0
if a>60 and a<=80 and b<=300000 and b<=500000:
    tax=b*(10/100)
if a>60 and a<=80 and b<=300000 and b<=500000:
    tax=b*(10/100)
if a>60 and a<=80 and b<=500000 and b<=1000000:
    tax=b*(20/100)
if a>60 and a<=80 and b<=1000000:
    tax=b*(30/100)
if a>80 and b<=500000:
    tax=0
if a>80 and b>500000 and b<=1000000:
    tax=b*(20/100)
if a>80 and a<=100 and b>1000000:
    tax=b*(30/100)
print(tax)

180000.0

In [71]:
x=c.read_excel("salary.xlsx")

In [72]:
x

   Salary  Age    HRA
0  600000   70  10000

In [83]:
a=x.loc[0,"Age"]
b=x.loc[0,"Salary"]
c=x.loc[0,"HRA"]
if a<=60 and b>250000:
    tax=0
if a<=60 and b>250000 and b<=500000:
    tax=b*(10/100)
if a<=60 and b>500000 and b<=1000000:
    tax=b*(20/100)
if a<=60 and b>1000000:
    tax=b*(10/100)
if a<=60 and a<=80 and b<=300000:
    tax=0
if a>60 and a<=80 and b<=300000 and b<=500000:
    tax=b*(10/100)
if a>60 and a<=80 and b<=300000 and b<=500000:
    tax=b*(10/100)
if a>60 and a<=80 and b<=500000 and b<=1000000:
    tax=b*(20/100)
if a>60 and a<=80 and b<=1000000:
    tax=b*(30/100)
if a>80 and b<=500000:
    tax=0
if a>80 and b>500000 and b<=1000000:
    tax=b*(20/100)
if a>80 and a<=100 and b>1000000:
    tax=b*(30/100)
if c<((10/100)*(a)):
    Tax=0
if c>((10/100)*(a)):
    Tax=(50/100)*(x-(10/100)*(x))
t=tax+Tax
print(t)

     Salary       Age       HRA
0  450000.0  180031.5  184500.0